/* Set the background color of body to tan */
#guruparampara_1,#guruparampara_2 {
    display: inline;
  }
#site-name {
  display: inline;
  margin-left: 100px !important;
}
  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (max-width: 766px) {
    #guruparampara_1,#guruparampara_2 {
        display: block ;
      }
      #site-name {
        display: block ;
        margin : 0px !important;
      }
  }
  
  .homebg {

    background-image: url(../img/homebg.jpg);
    /* background-image: url(home-bg-new.jpg); */
    background-attachment: fixed !important;
    /*overflow:hidden;*/
    background-size: inherit;
    background-repeat: repeat-y;
    background-position: center center;
}